@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ranchers&display=swap');

/* General Style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar .logo {
  font-family: 'Ranchers', cursive;
  font-weight: 500;
}

.navbar h1 a:hover {
  border: none;
}



/* Header */
.hero {
  background: url('../images/home/showcase-1.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 1000;
}

.hero::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url('../images/home/showcase-5.jpg') no-repeat center center/cover;
  height: 50vh;
}


/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background: #28a745;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  margin-bottom: 15px;
}



/* Sample-photos */
.photos .row {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 0 4px;
}

.photos .column {
  flex: 25%;
  max-width: 100%;
  padding: 0 3px;
}

.photos img:hover {
  opacity: 0.7;
}



/* Team */
.team .flex-items > div {
  padding: 0;
  margin: 20px;
}



/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact h3 {
  font-size: 30px;
}

.contact form {
  width: 40%;
  margin: 14px;
  /* padding: 20px; */
}

.contact input {
  margin: 7px 0;
  padding: 10px;
  text-align: center;
}

.contact .btn {
  width: 40%;
  padding: 10px;
}

.contact input:focus {
  outline-style: none;
}


/* Post */
.post {
  padding: 50px 30px;
  color: #333;
}

.post h2 {
  border-bottom: 1px #ccc solid;
  font-size: 40px;
  padding-bottom: 10px;
}

.post img {
  border-radius: 50%;
  width: 400px;
  display: block;
  margin: 30px auto;
}


/* Prices */
.address {
  margin-top: 50px;
}


/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
}

.footer i {
  color: #fff;
  margin: 0 10px;
}

.footer i:hover {
  color: #28a745;
}



/* Mobile */
@media(max-width: 1000px) {
  #about .flex-items > div {
    margin: 0;
  }
}


@media(max-width: 786px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .photos .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}


@media(max-width: 414px) {
  .navbar li {
    font-size: 18px;
  }

  .hero .content h1 {
    margin-top: 90px;
    font-size: 35px;
  }

  .hero .content .btn {
    font-size: 16px;
  }

  .contact form,
  .contact .btn {
    width: 90%;
  }
}


@media(max-width: 375px) {
  .navbar {
    z-index: 20;
  }

  .navbar li {
    font-size: 16px;
  }

  .hero .content h1 {
    font-size: 30px;
  }

  .hero .content .btn {
    font-size: 16px;
  }

  .post img{
    width: 80%;
  }
}
















